In [1]:
import pandas as pd

# ① 元データ（社員ごとの売上）
df = pd.DataFrame({
    '日付': ['2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20', '2023-05-21'],
    '社員名': ['山田', '佐藤', '鈴木', '田中', '高橋'],
    '売上': [100, 200, 150, 300, 250],
    '部門': ['メーカー', '代理店', 'メーカー', '商社', '代理店']
})

# ② 平均売上（全体の平均）
avg = df['売上'].mean()
df['平均売上'] = avg

# ③ 業績ランクを決める関数
def performance(sales):
    if sales >= avg + 50:
        return 'A'
    elif sales >= avg:
        return 'B'
    else:
        return 'C'

# ④ 業績ランク列を作る
df['業績ランク'] = df['売上'].apply(performance)

# ⑤ Excelに書き出す（新規ファイル作成）
df.to_excel('業績.xlsx', sheet_name='Sheet1', index=False)

# 確認用に画面にも表示
df

           日付 社員名   売上    部門   平均売上 業績ランク
0  2023-05-17  山田  100  メーカー  200.0     C
1  2023-05-18  佐藤  200   代理店  200.0     B
2  2023-05-19  鈴木  150  メーカー  200.0     C
3  2023-05-20  田中  300    商社  200.0     A
4  2023-05-21  高橋  250   代理店  200.0     A