In [1]:
import pandas as pd

df_2022 = pd.read_excel("2022_年間売上表.xlsx")
df_2023 = pd.read_excel("2023_年間売上表.xlsx")

print(df_2022.head())
print(df_2023.head())

    売上年        商品  金額（千円）
0  2022        紅茶    1200
1  2022      ハチミツ    1000
2  2022      セッケン    1300
3  2022        紅茶     800
4  2022  アロマキャンドル     900
    売上年     商品  金額（千円）
0  2023     紅茶    1200
1  2023   ハチミツ    1000
2  2023     水筒     250
3  2023  コーヒー豆     860
4  2023   セッケン    1300

In [2]:
df_all = pd.concat([df_2022, df_2023])
print(df_all)

     売上年        商品  金額（千円）
0   2022        紅茶    1200
1   2022      ハチミツ    1000
2   2022      セッケン    1300
3   2022        紅茶     800
4   2022  アロマキャンドル     900
5   2022      ハチミツ     300
6   2022      ハチミツ     560
7   2022    ワイングラス     850
8   2022  アロマキャンドル     810
9   2022        包丁     940
10  2022        水筒    1150
0   2023        紅茶    1200
1   2023      ハチミツ    1000
2   2023        水筒     250
3   2023     コーヒー豆     860
4   2023      セッケン    1300
5   2023        紅茶     670
6   2023  アロマキャンドル     900
7   2023    ワイングラス     850
8   2023        包丁     940
9   2023     フライパン     670
10  2023        水筒    1150

In [3]:
summary = (
    df_all
    .groupby(["商品", "売上年"], as_index=False)["金額（千円）"]
    .sum()
)

print(summary)

          商品   売上年  金額（千円）
0   アロマキャンドル  2022    1710
1   アロマキャンドル  2023     900
2      コーヒー豆  2023     860
3       セッケン  2022    1300
4       セッケン  2023    1300
5       ハチミツ  2022    1860
6       ハチミツ  2023    1000
7      フライパン  2023     670
8     ワイングラス  2022     850
9     ワイングラス  2023     850
10        包丁  2022     940
11        包丁  2023     940
12        水筒  2022    1150
13        水筒  2023    1400
14        紅茶  2022    2000
15        紅茶  2023    1870

In [4]:
summary.to_excel("売上集計表.xlsx", index=False)

In [5]:
from openpyxl import load_workbook
from openpyxl.styles import PatternFill

wb = load_workbook("売上集計表.xlsx")
ws = wb.active

gray = PatternFill(fill_type="solid", fgColor="F2F2F2")

for cell in ws[1]:
    cell.fill = gray

wb.save("売上集計表.xlsx")